.cha{
    width: 100vw;
    min-height: 100vh;
    padding-top:80px;
    padding-bottom:60px;
    margin:0;
    background-color: blanchedalmond;
    position: relative;
}
.dau {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding:0;  
    width: 100%;
    background-color: rgb(221, 212, 228);
    border-radius: 2px;
    box-shadow: 0 4px 8px;
    height: 80px;
    z-index: 1000;
    top: 0;
    left: 0;
    position:fixed;
}

.dau0{
    right:0;
    font-size: 20px;
}
.dau2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dauu3 {
    padding: 8px 12px;
    background:white;
    border-radius:8px;
}   

.dau2 button {
    padding: 8px 16px;
}


.dau2 nav {
    display: flex;
    gap: 15px;
    font-size: 24px;
}

.dau2 nav i {
    color: #333;
    margin-left: 10px;
    cursor:pointer;
}
.bdy{
    background-color: blanchedalmond;
}
.body1{
    width: 100%;
    max-width: 1200px;
    height: 300px;
    margin:20px auto;
    position:relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding:0 40px;
}
.anhbdy{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
}
.body1 img{
    width: 100%;
    height:100%;
    border-radius: 24px;
    object-fit: cover;

}
.body1-1{
    position: absolute;
    left: 8%;
    top: 20%;
    color:aliceblue;  
}
.body1-2{
    position: absolute;
    bottom: 40px;
    color:aliceblue; 
    left:100px;
  top: 45%;


}
.body1 h1{
    left:100px;
    top:90px;

}
.fmb{
    gap:100px;
    justify-content: center;
    display: flex;
    margin:24px 0;
    padding:0 40px;
}
.fmb button{
    font-size:10px;
    padding:10px 24px;
    background-color: azure;
    border-radius: 6px;
    box-shadow: 23px;
    border: 2px solid white;
    cursor: pointer;
    min-width: 120px;
}
.books{
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    max-width: 1200px;
    padding:40px auto;
    margin:30px auto;
}
.book1{
    width: 200px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}
.book1 img{
    width: 100%px;
    height: 260px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom:10px;
}
.book1 h4{
    font-size: 12px;
    margin:0 0 6px 0;
    font-weight: bold;
}
.book1 p{
    font-size:12px;
    margin: 0;
    color:#555
}
.foot{
    width: 100%;
    background-color: aliceblue;
    height:60px;
    display: flex;
    gap: 60px;
    align-items: center;
    padding:0 40px;
    position:fixed;
    bottom: 0;
}
.foot a{
    color:black;
    text-decoration: none;
    margin-right: 8px;

}
.foot nav{
    margin-left:8px;
    display:flex;
    gap:16px;
}
.foot nav i{
    font-size: 12px;
    color:#555;
    cursor: pointer;
}


